main.page {
  padding-bottom: 100px;
}

article {
  max-width: 650px;
}

.article-list article {
  border-top: 1px solid #ddd;
  padding-top: 28px;
}

article h2 {
  margin-top: 14px;
}

.form-container {
  padding: 5px 0 25px 0;
}

.date {
  margin: 0;
  display: inline-block;
  background: #ddd;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 15px;
}

form {
  background: #ddd;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}

form input {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 8px;
  background: #fafafa;
  outline: none;
}

form input[type='email'] {
  flex-grow: 1;
}

form input[type='submit'] {
  background: #111;
  color: #ddd;
  border-color: #444;
  font-weight: 600;
}
