<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="RRRTMURW"
      defer
    ></script>
    <link rel="shortcut icon" href="/favicon.jpg" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      href="/feed.xml"
      title="RSS Feed"
    />

    {% if stylesheet %}
    <link rel="stylesheet" href="/styles/{{stylesheet}}.css" />
    {% endif %}
    <title>Unternet - {{ title }}</title>
  </head>
  <body>
    <header class="main-header">
      <div class="page">
        <a href="/" class="bare logo-container"
          ><img src="/glyph.png" class="logo"
        /></a>
        <ul>
          <li class="{% if page.url == '/' %}active{% endif %}">
            <a href="/">Home</a>
          </li>
          <li class="{% if page.url contains '/blog/' %}active{% endif %}">
            <a href="/blog">Updates</a>
          </li>
          <!-- <li class="{% if page.url contains '/docs/' %}active{% endif %}">
            <a href="/docs/web-applets/">Docs</a>
          </li> -->
          <!-- <li class="{% if page.url contains '/applets/' %}active{% endif %}">
            <a href="/applets">Applets</a>
          </li> -->
          <li class="{% if page.url contains '/careers/' %}active{% endif %}">
            <a href="/careers">Careers</a>
          </li>
        </ul>
      </div>
    </header>
    {{ content }}
    <footer>© 2025 Unternet, PBC</footer>
    <script defer>
      document
        .querySelectorAll('.post-content a')
        .forEach((elem) => elem.setAttribute('target', '_blank'));
    </script>
  </body>
</html>
