---
layout: base
stylesheet: 'docs'
---

<main class="docs">
  <nav>
    <ul>
      <li>
        <ul>
          <li>
            <a
              href="/docs/web-applets/introduction"
              class="{% if page.url == '/docs/web-applets/introduction/' %}active{% endif %}"
              >Introduction</a
            >
          </li>
          <li>
            <a
              href="/docs/web-applets/creating-an-applet"
              class="{% if page.url == '/docs/web-applets/creating-an-applet/' %}active{% endif %}"
              >Creating an applet</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <article class="docs-content">
    <div class="docs-content-inner">{{ content }}</div>
  </article>
</main>
