---
layout: base
stylesheet: 'docs'
---

<main class="docs">
  <nav class="collapsed">
    <div class="menu-icon" id="menu-button">
      <img src="/assets/icons/menu.svg" />
    </div>
    <ul>
      <li>
        <ul>
          <li>
            <a
              href="/docs/web-applets/introduction"
              class="{% if page.url == '/docs/web-applets/introduction/' %}active{% endif %}"
              >Introduction</a
            >
          </li>

          <li>
            <a
              href="/docs/web-applets/creating-an-applet"
              class="{% if page.url == '/docs/web-applets/creating-an-applet/' %}active{% endif %}"
              >Quickstart</a
            >
          </li>
          <li>
            <a
              href="/docs/web-applets/examples"
              class="{% if page.url == '/docs/web-applets/examples/' %}active{% endif %}"
              >Examples</a
            >
          </li>
          <li>
            <a
              href="/docs/web-applets/architecture"
              class="{% if page.url == '/docs/web-applets/architecture/' %}active{% endif %}"
              >Architecture</a
            >
          </li>
          <li>
            <a
              href="/docs/web-applets/api-reference"
              class="{% if page.url == '/docs/web-applets/api-reference/' %}active{% endif %}"
              >API reference</a
            >
          </li>
          <!-- <li><a href="">Changelog</a></li>
          <li><a href="">Roadmap</a></li>
          <li><a href="">Contributing</a></li> -->
        </ul>
      </li>
    </ul>
  </nav>
  <article class="docs-content">
    <div class="docs-content-inner">{{ content }}</div>
  </article>
</main>

<script type="text/javascript">
  document.querySelector('#menu-button').addEventListener('click', () => {
    document.querySelector('.docs nav').classList.toggle('collapsed');
  });
</script>
