@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Sans 3', system-ui, sans-serif;
  background: #111;
  color: white;

  /* Font smoothing for macOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Font smoothing for other browsers */
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  font-weight: 500;
}

a:hover {
  background: white;
  color: black;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}
