.docs {
  display: flex;
  overflow: hidden;
}

.docs-content {
  padding: 30px;
  overflow-y: scroll;
  background: white;
}

.docs-content-inner {
  max-width: 740px;
  margin: 0 auto;
}

.docs nav {
  position: relative;
  padding: 30px;
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .docs nav {
    padding: 12px;
    width: 100%;
    transition: width 0.1s ease;
  }

  .docs nav.collapsed {
    width: 0;
    background: white;
    border: none;
  }

  .docs nav.collapsed ul {
    display: none;
  }

  .docs nav .menu-icon {
    position: absolute;
    top: 12px;
    left: auto;
    right: 12px;
    display: block;
    border: 0;
    width: 30px;
    height: 30px;
  }

  .docs nav.collapsed .menu-icon {
    left: 12px;
    right: auto;
  }

  .docs article {
    box-sizing: border-box;
    width: 90%;
    flex-shrink: 0;
  }
}

.docs nav h1 {
  font-size: inherit;
  padding: 0;
}

.docs nav ul {
  list-style: none;
  padding: 0;
}

.docs nav a {
  color: #555;
}

.docs nav a.active {
  text-decoration: none;
  color: black;
  /* background: #ddd; */
}
.docs nav a.active:hover {
  background: inherit;
}

.docs article {
  flex-grow: 1;
  min-width: 0;
}

.docs img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
