.docs {
  display: flex;
  overflow: hidden;
}

.docs-content {
  padding: 30px;
  overflow-y: scroll;
  background: white;
}

.docs-content-inner {
  max-width: 740px;
  margin: 0 auto;
}

.docs nav {
  padding: 30px;
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
}

.docs nav h1 {
  font-size: inherit;
  padding: 0;
}

.docs nav ul {
  list-style: none;
  padding: 0;
}

.docs nav a {
  color: #555;
}

.docs nav a.active {
  text-decoration: none;
  color: black;
  /* background: #ddd; */
}
.docs nav a.active:hover {
  background: inherit;
}

.docs article {
  flex-grow: 1;
  min-width: 0;
}

.docs img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
